.git
.github
.devcontainer
.idea
.vscode
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
public/storage
storage/app/**/*
!storage/app/**/.gitignore
storage/framework/cache/data
storage/framework/sessions/*
!storage/framework/sessions/.gitignore
storage/framework/testing
storage/framework/views/*.php
storage/logs/*.log
bootstrap/cache/*.php
tests
.phpunit.cache
Dockerfile
compose.yaml
