parameters:
	ignoreErrors:
		-
			message: "#^Variable \\$events might not be defined\\.$#"
			count: 1
			path: app/Http/Controllers/EventLink/EventLinkAdminController.php

		-
			message: "#^Parameter \\#1 \\$key of function old expects string\\|null, false given\\.$#"
			count: 4
			path: app/Http/Controllers/Faq/FaqAdminController.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 'is_online' and 0 will always evaluate to false\\.$#"
			count: 2
			path: app/Http/Controllers/Faq/FaqAdminController.php

		-
			message: "#^Strict comparison using \\=\\=\\= between 'is_online' and 1 will always evaluate to false\\.$#"
			count: 2
			path: app/Http/Controllers/Faq/FaqAdminController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\OAuthController\\:\\:updateToken\\(\\) should return League\\\\OAuth2\\\\Client\\\\Token\\\\AccessToken\\|null but returns League\\\\OAuth2\\\\Client\\\\Token\\\\AccessTokenInterface\\.$#"
			count: 1
			path: app/Http/Controllers/OAuthController.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Kernel\\:\\:\\$middleware is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Kernel\\:\\:\\$middleware\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Kernel\\:\\:\\$middlewareGroups is not covariant with PHPDoc type array\\<string, array\\<int, string\\>\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Kernel\\:\\:\\$middlewareGroups\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Kernel\\:\\:\\$routeMiddleware is not covariant with PHPDoc type array\\<string, string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Kernel\\:\\:\\$routeMiddleware\\.$#"
			count: 1
			path: app/Http/Kernel.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\EncryptCookies\\:\\:\\$except is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Cookie\\\\Middleware\\\\EncryptCookies\\:\\:\\$except\\.$#"
			count: 1
			path: app/Http/Middleware/EncryptCookies.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\TrimStrings\\:\\:\\$except is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Middleware\\\\TrimStrings\\:\\:\\$except\\.$#"
			count: 1
			path: app/Http/Middleware/TrimStrings.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\TrustProxies\\:\\:\\$proxies is not covariant with PHPDoc type array\\<int, string\\>\\|string\\|null of overridden property Illuminate\\\\Http\\\\Middleware\\\\TrustProxies\\:\\:\\$proxies\\.$#"
			count: 1
			path: app/Http/Middleware/TrustProxies.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\VerifyCsrfToken\\:\\:\\$except is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Middleware\\\\VerifyCsrfToken\\:\\:\\$except\\.$#"
			count: 1
			path: app/Http/Middleware/VerifyCsrfToken.php

		-
			message: "#^Cannot access property \\$event on object\\|string\\.$#"
			count: 1
			path: app/Http/Requests/Booking/UpdateBooking.php

		-
			message: "#^PHPDoc tag @return with type Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null is incompatible with native type void\\.$#"
			count: 1
			path: app/Imports/BookingsImport.php

		-
			message: "#^Return type \\(void\\) of method App\\\\Imports\\\\BookingsImport\\:\\:model\\(\\) should be compatible with return type \\(array\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\) of method Maatwebsite\\\\Excel\\\\Concerns\\\\ToModel\\:\\:model\\(\\)$#"
			count: 1
			path: app/Imports/BookingsImport.php

		-
			message: "#^Undefined variable\\: \\$this$#"
			count: 2
			path: app/Livewire/Bookings.php

		-
			message: "#^PHPDoc type array of property App\\\\Providers\\\\EventServiceProvider\\:\\:\\$listen is not covariant with PHPDoc type array\\<string, array\\<int, string\\>\\> of overridden property Illuminate\\\\Foundation\\\\Support\\\\Providers\\\\EventServiceProvider\\:\\:\\$listen\\.$#"
			count: 1
			path: app/Providers/EventServiceProvider.php
