parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$token of method League\\\\OAuth2\\\\Client\\\\Provider\\\\AbstractProvider\\:\\:getResourceOwner\\(\\) expects League\\\\OAuth2\\\\Client\\\\Token\\\\AccessToken, League\\\\OAuth2\\\\Client\\\\Token\\\\AccessTokenInterface given\\.$#"
			count: 1
			path: app/Http/Controllers/Auth/LoginController.php

		-
			message: "#^Method App\\\\Http\\\\Controllers\\\\OAuthController\\:\\:updateToken\\(\\) should return League\\\\OAuth2\\\\Client\\\\Token\\\\AccessToken\\|null but returns League\\\\OAuth2\\\\Client\\\\Token\\\\AccessTokenInterface\\.$#"
			count: 1
			path: app/Http/Controllers/OAuthController.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\EncryptCookies\\:\\:\\$except is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Cookie\\\\Middleware\\\\EncryptCookies\\:\\:\\$except\\.$#"
			count: 1
			path: app/Http/Middleware/EncryptCookies.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\TrimStrings\\:\\:\\$except is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Middleware\\\\TrimStrings\\:\\:\\$except\\.$#"
			count: 1
			path: app/Http/Middleware/TrimStrings.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\TrustProxies\\:\\:\\$proxies is not covariant with PHPDoc type array\\<int, string\\>\\|string\\|null of overridden property Illuminate\\\\Http\\\\Middleware\\\\TrustProxies\\:\\:\\$proxies\\.$#"
			count: 1
			path: app/Http/Middleware/TrustProxies.php

		-
			message: "#^PHPDoc type array of property App\\\\Http\\\\Middleware\\\\VerifyCsrfToken\\:\\:\\$except is not covariant with PHPDoc type array\\<int, string\\> of overridden property Illuminate\\\\Foundation\\\\Http\\\\Middleware\\\\VerifyCsrfToken\\:\\:\\$except\\.$#"
			count: 1
			path: app/Http/Middleware/VerifyCsrfToken.php

		-
			message: "#^Return type \\(void\\) of method App\\\\Imports\\\\BookingsImport\\:\\:model\\(\\) should be compatible with return type \\(array\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\|Illuminate\\\\Database\\\\Eloquent\\\\Model\\|null\\) of method Maatwebsite\\\\Excel\\\\Concerns\\\\ToModel\\:\\:model\\(\\)$#"
			count: 1
			path: app/Imports/BookingsImport.php

		-
			message: "#^PHPDoc type array of property App\\\\Providers\\\\EventServiceProvider\\:\\:\\$listen is not covariant with PHPDoc type array\\<string, array\\<int, string\\>\\> of overridden property Illuminate\\\\Foundation\\\\Support\\\\Providers\\\\EventServiceProvider\\:\\:\\$listen\\.$#"
			count: 1
			path: app/Providers/EventServiceProvider.php
