// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//jQuery UI
@import "~jquery-ui/themes/base/all.css";
// Bootswatch Flatly variables
@import '~bootswatch/dist/flatly/variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Bootswatch Flatly
@import '~bootswatch/dist/flatly/bootswatch';

.navbar-brand{
  font-weight: 800;
}

.navbar-laravel {
  background-color: $envColorNavbar;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: $envColorNavbarLinks;
}

h5 {
  color: $cyan;
  text-decoration: underline;
}