
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

//jQuery UI
@import "~jquery-ui/themes/base/all.css";

// Bootswatch Flatly variables
@import '~bootswatch/dist/flatly/variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// Bootswatch Flatly
@import '~bootswatch/dist/flatly/bootswatch';

.navbar-laravel {
  background-color: #2C3E50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #18BC9C;
}

h5 {
  color: $cyan;
  text-decoration: underline;
}