name: PHP Linting
on:
  pull_request:
    paths:
      - "**/*.php"
      - "pint.json"
      - ".github/workflows/pint.yml"
      - "composer.json"
      - "composer.lock"
jobs:
  phplint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup PHP, with composer and extensions
        uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
        with:
          php-version: 8.4
          extensions: mbstring, dom, fileinfo

      - uses: ramsey/composer-install@v3

      - name: Run Pint
        run: vendor/bin/pint
